/* Regular */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-Regular.ttf") format("TrueType");
  font-weight: normal;
}

/* BlackItalic */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-Black.ttf") format("TrueType");
  font-style: italic;
  color: black;
  font-weight: normal;
}

/* Bold */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-Bold.ttf") format("TrueType");
  font-weight: bold;
}

/* BoldItalic */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-BoldItalic.ttf") format("TrueType");
  font-weight: bold;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-Italic.ttf") format("TrueType");
  font-style: italic;
}

/* Lighter */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-Light.ttf") format("TrueType");
  font-weight: lighter;
}

/* LighterItalic */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-LightItalic.ttf") format("TrueType");
  font-style: italic;
  font-weight: lighter;
}

/* Bolder */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-SemiBold.ttf") format("TrueType");
  font-weight: bolder;
}

/* BolderItalic */
@font-face {
  font-family: "LabGrotesque";
  src: url("./fonts/raleway-all/Raleway-BoldItalic.ttf") format("TrueType");

  font-style: italic;
  font-weight: bolder;
}

body {
  /* font-family: "LabGrotesque", Calibri, sans-serif; */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
